.Check{
  position: absolute;
  left: 4px;
}
.icon:hover{
  transform: scale(1.3);
}

.Delete{
  position: absolute;
  right: 2px;
  top: -10px;
}

.icon-svg{
    width: 25px;
    height: 25px;
  }

.Check:hover .icon-svg{
  fill: #00d1ce;
  cursor: pointer;
}

.Delete:hover .icon-svg{
  background-color: rgb(255, 0, 0);
  border-radius: 6px;
  cursor: pointer;
}